/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
Page container
*/
/* line 6, ../sass/partials/_base.scss */
.wrapper {
  margin: 0 auto;
}

/*
Column container
*/
/* line 13, ../sass/partials/_base.scss */
.grids {
  width: auto;
  max-width: 792px;
  clear: both;
  margin: 0 0 0 -2.525%;
  list-style: none;
  /* So we can make grids out of lists. */
  overflow: hidden;
  /* Clear the floats */
}

/* line 22, ../sass/partials/_base.scss */
[class^="grid-"] {
  float: left;
  margin: 0 2.525% 0 0;
}

/* line 26, ../sass/partials/_base.scss */
.grids [class^="grid-"] {
  margin: 0 0 0 2.525%;
}

/* line 30, ../sass/partials/_base.scss */
.grid-1 {
  width: 5.808%;
}

/* line 31, ../sass/partials/_base.scss */
.grid-2 {
  width: 14.141%;
}

/* line 32, ../sass/partials/_base.scss */
.grid-3 {
  width: 22.475%;
}

/* line 33, ../sass/partials/_base.scss */
.grid-4 {
  width: 30.808%;
}

/* line 34, ../sass/partials/_base.scss */
.grid-5 {
  width: 39.141%;
}

/* line 35, ../sass/partials/_base.scss */
.grid-6 {
  width: 47.475%;
}

/* line 36, ../sass/partials/_base.scss */
.grid-7 {
  width: 55.808%;
}

/* line 37, ../sass/partials/_base.scss */
.grid-8 {
  width: 64.141%;
}

/* line 38, ../sass/partials/_base.scss */
.grid-9 {
  width: 72.475%;
}

/* line 39, ../sass/partials/_base.scss */
.grid-10 {
  width: 80.808%;
}

/* line 40, ../sass/partials/_base.scss */
.grid-11 {
  width: 89.141%;
}

/* line 41, ../sass/partials/_base.scss */
.grid-12 {
  width: 97.475%;
  margin: 0;
}

/* line 44, ../sass/partials/_base.scss */
body {
  font: 14px/1.5em;
}

/* line 49, ../sass/partials/_base.scss */
pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

/* line 53, ../sass/partials/_base.scss */
hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
/* line 63, ../sass/partials/_base.scss */
h1 {
  font-size: 1.714em;
  /* 24px */
}

/* line 67, ../sass/partials/_base.scss */
h2 {
  font-size: 1.571em;
  /* 22px */
}

/* line 71, ../sass/partials/_base.scss */
h3 {
  font-size: 1.429em;
  /* 20px */
}

/* line 75, ../sass/partials/_base.scss */
h4 {
  font-size: 1.286em;
  /* 18px */
}

/* line 79, ../sass/partials/_base.scss */
h5 {
  font-size: 1.143em;
  /* 16px */
}

/* line 83, ../sass/partials/_base.scss */
h6 {
  font-size: 1.071em;
  /* 15px */
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
/* line 90, ../sass/partials/_base.scss */
ol {
  list-style: decimal;
}

/* line 94, ../sass/partials/_base.scss */
ul {
  list-style: disc;
}

/* line 98, ../sass/partials/_base.scss */
li {
  margin-left: 30px;
}

/* line 117, ../sass/partials/_base.scss */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

/* line 34, ../sass/photo.scss */
body {
  background: #666666;
}

/* line 37, ../sass/photo.scss */
a, a:link {
  text-decoration: none;
  color: #cc341f;
}

/* line 41, ../sass/photo.scss */
a:visited {
  text-decoration: none;
  color: #b44637;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
/* line 48, ../sass/photo.scss */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #d82b13;
}

/* line 52, ../sass/photo.scss */
.wrapper {
  padding: 0;
}

/* line 57, ../sass/photo.scss */
#header {
  padding: 0.5em 1em;
  background: #e5e5e5;
}

/* line 61, ../sass/photo.scss */
#site-name {
  margin: 0;
}

/* line 64, ../sass/photo.scss */
#block-search-form {
  float: right;
}

/* line 68, ../sass/photo.scss */
#finding-aid-link {
  float: right;
  position: relative;
}

/* line 79, ../sass/photo.scss */
#page-title {
  margin: 0;
  padding: 0 0.25em;
  background: #515151;
  color: #fff;
  height: 30px;
  line-height: 1.1em;
  overflow: hidden;
}
/* line 87, ../sass/photo.scss */
#page-title span {
  display: block;
  float: left;
  width: 44px;
  height: 30px;
  background-image: url(../images/book-viewer-icons.png);
  background-position: -488px -9px;
  opacity: 1;
}

/* line 99, ../sass/photo.scss */
#pagemeta {
  float: left;
  width: 25%;
  height: 100%;
  background: #fcfcfc;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 108, ../sass/photo.scss */
#pagemeta .view-photo-set-metadata,
#pagemeta .view-photograph-metadata,
#pagemeta .view-photo-collection-metadata {
  padding: 1em;
}
/* line 112, ../sass/photo.scss */
#pagemeta .field-name-field-representative-image,
#pagemeta .views-field-field-representative-image {
  width: 100%;
  text-align: center;
}
/* line 116, ../sass/photo.scss */
#pagemeta .field-name-field-representative-image img,
#pagemeta .views-field-field-representative-image img {
  margin: 10px auto;
  max-width: 160px;
}
/* line 122, ../sass/photo.scss */
#pagemeta .field-label-inline,
#pagemeta .views-label {
  line-height: 1.5em;
  word-wrap: break-word;
  font-weight: 900;
}
/* line 127, ../sass/photo.scss */
#pagemeta .field-content {
  display: inline;
  margin-bottom: 5px;
}
/* line 129, ../sass/photo.scss */
#pagemeta .field-content p {
  margin-bottom: 0px;
}
/* line 135, ../sass/photo.scss */
#pagemeta .ead-label {
  font-weight: 900;
}

/* line 141, ../sass/photo.scss */
.hide-show {
  position: relative;
  z-index: 1000;
}
/* line 144, ../sass/photo.scss */
.hide-show a {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -1000em;
  opacity: 0.7;
}
/* line 150, ../sass/photo.scss */
.hide-show a.show-book-info {
  display: none;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.35) url("../images/book-viewer-icons.png");
  background-position: -532px 0px;
}
/* line 157, ../sass/photo.scss */
.hide-show a.hide-book-info {
  float: right;
  background: url("../images/book-viewer-icons.png");
  background-position: -576px 0px;
}
/* line 161, ../sass/photo.scss */
.hide-show a.hide-book-info:hover {
  opacity: 1;
}

/* line 169, ../sass/photo.scss */
.dlts_image_map,
.dlts-photo-gallery {
  float: right;
  width: 75%;
}

/* line 178, ../sass/photo.scss */
#book-navbar {
  width: 100%;
  height: 50px;
  background: #e5e5e5;
  overflow: hidden;
}

/* line 192, ../sass/photo.scss */
.navbar-spacer {
  display: block;
  float: left;
  height: 44px;
}
/* line 196, ../sass/photo.scss */
.navbar-spacer.navbar-spacer-1 {
  width: 16.66667%;
}
/* line 199, ../sass/photo.scss */
.navbar-spacer.navbar-spacer-2 {
  width: 8.33333%;
}

/* line 206, ../sass/photo.scss */
.navbar {
  display: inline;
}
/* line 208, ../sass/photo.scss */
.navbar .navbar-item {
  width: 8.33333%;
  min-width: 48px;
  display: inline;
  float: left;
  margin: 0;
}
/* line 218, ../sass/photo.scss */
.navbar a,
.navbar span,
.navbar .olControlDLTSZoomInItemInactive,
.navbar .olControlDLTSZoomOutItemInactive {
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 46px;
  background-image: url("../images/book-viewer-icons.png");
  background-repeat: no-repeat;
  text-indent: -1000em;
  opacity: 0.7;
}

/* line 238, ../sass/photo.scss */
.navbar span:hover {
  opacity: 1;
}
/* line 242, ../sass/photo.scss */
.navbar span.first-page-off, .navbar span.first-page-off:hover {
  background-position: -400px 0px;
  opacity: 0.2;
  cursor: default;
}
/* line 248, ../sass/photo.scss */
.navbar span.previous-page-off, .navbar span.previous-page-off:hover {
  background-position: -312px 0;
  opacity: 0.2;
  cursor: default;
}
/* line 254, ../sass/photo.scss */
.navbar span.next-page-off, .navbar span.next-page-off:hover {
  background-position: -356px 0;
  opacity: 0.2;
  cursor: default;
}
/* line 260, ../sass/photo.scss */
.navbar span.last-page-off, .navbar span.last-page-off:hover {
  background-position: -444px 0;
  opacity: 0.2;
  cursor: default;
}

/* line 267, ../sass/photo.scss */
.navbar a:hover {
  opacity: 1;
}
/* line 270, ../sass/photo.scss */
.navbar a.double-page {
  background-position: 0 0;
}
/* line 273, ../sass/photo.scss */
.navbar a.double-page {
  width: 52px;
  background-position: -42px 0;
}
/* line 277, ../sass/photo.scss */
.navbar a.thumbnails {
  background-position: -92px 0;
}
/* line 280, ../sass/photo.scss */
.navbar a.fullscreen {
  background-position: -136px 0;
}
/* line 283, ../sass/photo.scss */
.navbar a.fullscreen-on {
  background-position: -180px 0;
}
/* line 287, ../sass/photo.scss */
.navbar a.zoom_in, .navbar a.zoom_in:hover {
  background-position: -268px 0;
}
/* line 291, ../sass/photo.scss */
.navbar a.zoom_out, .navbar a.zoom_out:hover {
  background-position: -224px 0;
}
/* line 294, ../sass/photo.scss */
.navbar a.zoom_in_max {
  background-position: -268px 0;
  opacity: 0.2;
  cursor: default;
}
/* line 299, ../sass/photo.scss */
.navbar a.zoom_out_min {
  background-position: -224px 0;
  opacity: 0.2;
  cursor: default;
}
/* line 304, ../sass/photo.scss */
.navbar a.zoom_out_min:hover {
  cursor: default;
}
/* line 307, ../sass/photo.scss */
.navbar a.first-page {
  background-position: -400px 0px;
}
/* line 310, ../sass/photo.scss */
.navbar a.previous-page {
  background-position: -312px 0;
}
/* line 313, ../sass/photo.scss */
.navbar a.next-page {
  background-position: -356px 0;
}
/* line 316, ../sass/photo.scss */
.navbar a.last-page {
  background-position: -444px 0;
}
/* line 319, ../sass/photo.scss */
.navbar a.thumbnails {
  background-position: -92px 0;
}

/* line 324, ../sass/photo.scss */
.navbar #control-zoom div:hover {
  opacity: 1;
}
/* line 327, ../sass/photo.scss */
.navbar #control-zoom div.olControlDLTSZoomInItemInactive {
  background-position: -268px 0;
}
/* line 330, ../sass/photo.scss */
.navbar #control-zoom div.olControlDLTSZoomOutItemInactive {
  background-position: -224px 0;
}

/* line 337, ../sass/photo.scss */
#book-navbar .item-list {
  display: block;
  height: 100%;
  text-align: center;
}
/* line 342, ../sass/photo.scss */
#book-navbar .item-list .pager li {
  padding: 0;
  margin: 0;
}

/* line 351, ../sass/photo.scss */
.pager {
  display: inline;
}
/* line 353, ../sass/photo.scss */
.pager li {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 7.14286%;
  min-width: 48px;
  display: inline;
  float: left;
}
/* line 363, ../sass/photo.scss */
.pager li.pager-previous a, .pager li.pager-first a, .pager li.pager-next a, .pager li.pager-last a {
  background-image: url("../images/book-viewer-icons.png");
  background-repeat: no-repeat;
  text-indent: -1000em;
}
/* line 368, ../sass/photo.scss */
.pager li.pager-first a {
  background-position: -400px 0px;
}
/* line 371, ../sass/photo.scss */
.pager li.pager-previous a {
  background-position: -312px 0;
}
/* line 374, ../sass/photo.scss */
.pager li.pager-next a {
  background-position: -356px 0;
}
/* line 377, ../sass/photo.scss */
.pager li.pager-last a {
  background-position: -444px 0;
}
/* line 381, ../sass/photo.scss */
.pager li.pager-current, .pager li.pager-ellipsis {
  float: left;
  display: block;
  margin: 12px auto;
  width: 7.14286%;
  min-width: 48px;
  height: 46px;
  font-size: 1.4em;
  border: none;
  line-height: 2em;
}
/* line 392, ../sass/photo.scss */
.pager li.pager-item a {
  background-image: none;
  text-indent: 0em;
}
/* line 396, ../sass/photo.scss */
.pager li a {
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 46px;
  font-size: 1.4em;
  line-height: 2em;
  border: none;
  opacity: 0.7;
}
/* line 406, ../sass/photo.scss */
.pager li a:hover {
  opacity: 1;
  text-decoration: none;
}

/* line 417, ../sass/photo.scss */
.dlts-photo-gallery .views-view-grid.cols-4,
.view-photo-sets .views-view-grid.cols-4 {
  width: 100%;
}
/* line 419, ../sass/photo.scss */
.dlts-photo-gallery .views-view-grid.cols-4 td,
.view-photo-sets .views-view-grid.cols-4 td {
  margin: auto;
  padding: 10px;
  vertical-align: middle;
  align: center;
}
/* line 424, ../sass/photo.scss */
.dlts-photo-gallery .views-view-grid.cols-4 td img,
.view-photo-sets .views-view-grid.cols-4 td img {
  max-width: 220px;
}
/* line 428, ../sass/photo.scss */
.dlts-photo-gallery .views-view-grid.cols-4 td a, .dlts-photo-gallery .views-view-grid.cols-4 td a.link,
.view-photo-sets .views-view-grid.cols-4 td a,
.view-photo-sets .views-view-grid.cols-4 td a.link {
  color: white;
}
/* line 433, ../sass/photo.scss */
.dlts-photo-gallery .field-item,
.view-photo-sets .field-item {
  align: right;
  text-align: center;
  vertical-align: middle;
}

/* line 444, ../sass/photo.scss */
.photo-multisite #header, .photo-multisite #page-title, .photo-multisite #pagemeta, .photo-multisite .element-invisible {
  display: none;
}
/* line 447, ../sass/photo.scss */
.photo-multisite .dlts-photo-gallery {
  width: 100%;
}

/* for now aof1 Sep 27, 2012 */
/* line 464, ../sass/photo.scss */
html,
body.node-type-dlts-photograph,
.node-type-dlts-photograph #page-wrapper,
.node-type-dlts-photograph #page,
.node-type-dlts-photograph #main-wrapper,
.node-type-dlts-photograph #main,
.node-type-dlts-photograph #content,
.node-type-dlts-photograph #content .section,
.node-type-dlts-photograph #content .section .node-dlts-photograph,
.node-type-dlts-photograph #content .section .node-dlts-photograph .content,
.node-type-dlts-photograph #content .section .node-dlts-photograph .dlts_image_map {
  width: 100%;
  height: 100%;
}

/* line 469, ../sass/photo.scss */
#pagemeta {
  position: absolute;
  z-index: 9999;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.views-content { letter-spacing: -0.31em; *letter-spacing: normal; *word-spacing: -0.43em; text-rendering: optimizespeed; } .opera-only :-o-prefocus, .views-content { word-spacing: -0.43em; } .views-row { display: inline-block; zoom: 1; *display: inline; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; } .views-row-1,.views-row-1-2,.views-row-1-3,.views-row-2-3,.views-row-1-4,.views-row-3-4,.views-row-1-5,.views-row-2-5,.views-row-3-5,.views-row-4-5,.views-row-1-6,.views-row-5-6,.views-row-1-7,.views-row-2-7,.views-row-3-7,.views-row-4-7,.views-row-5-7,.views-row-6-7,.views-row-1-8,.views-row-3-8,.views-row-5-8,.views-row-7-8,.views-row-1-9,.views-row-2-9,.views-row-4-9,.views-row-5-9,.views-row-6-9,.views-row-7-9,.views-row-8-9,.views-row-1-10,.views-row-3-10,.views-row-7-10,.views-row-9-10,.views-row-1-11,.views-row-2-11,.views-row-3-11,.views-row-4-11,.views-row-5-11,.views-row-6-11,.views-row-7-11,.views-row-8-11,.views-row-9-11,.views-row-10-11,.views-row-1-12,.views-row-5-12,.views-row-7-12,.views-row-9-12,.views-row-11-12 { display: inline-block; zoom: 1; *display: inline; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; } .views-row-u1 { display:block; } .views-row-1-2 { width: 50%; } .views-offset-1-2 { margin-left: 50%; } .views-row-1-3 { width: 33.33333%; } .views-offset-1-3 { margin-left: 33.33333%; } .views-row-2-3 { width: 66.66667%; } .views-offset-2-3 { margin-left: 66.66667%; } .views-row-1-4 { width: 25%; } .views-offset-1-4 { margin-left: 25%; } .views-row-3-4 { width: 75%; } .views-offset-3-4 { margin-left: 75%; } .views-row-1-5 { width: 20%; } .views-offset-1-5 { margin-left: 20%; } .views-row-2-5 { width: 40%; } .views-offset-2-5 { margin-left: 40%; } .views-row-3-5 { width: 60%; } .views-offset-3-5 { margin-left: 60%; } .views-row-4-5 { width: 80%; } .views-offset-4-5 { margin-left: 80%; } .views-row-1-6 { width: 16.66667%; } .views-offset-1-6 { margin-left: 16.66667%; } .views-row-5-6 { width: 83.33333%; } .views-offset-5-6 { margin-left: 83.33333%; } .views-row-1-7 { width: 14.28571%; } .views-offset-1-7 { margin-left: 14.28571%; } .views-row-2-7 { width: 28.57143%; } .views-offset-2-7 { margin-left: 28.57143%; } .views-row-3-7 { width: 42.85714%; } .views-offset-3-7 { margin-left: 42.85714%; } .views-row-4-7 { width: 57.14286%; } .views-offset-4-7 { margin-left: 57.14286%; } .views-row-5-7 { width: 71.42857%; } .views-offset-5-7 { margin-left: 71.42857%; } .views-row-6-7 { width: 85.71429%; } .views-offset-6-7 { margin-left: 85.71429%; } .views-row-1-8 { width: 12.5%; } .views-offset-1-8 { margin-left: 12.5%; } .views-row-3-8 { width: 37.5%; } .views-offset-3-8 { margin-left: 37.5%; } .views-row-5-8 { width: 62.5%; } .views-offset-5-8 { margin-left: 62.5%; } .views-row-7-8 { width: 87.5%; } .views-offset-7-8 { margin-left: 87.5%; } .views-row-1-9 { width: 11.11111%; } .views-offset-1-9 { margin-left: 11.11111%; } .views-row-2-9 { width: 22.22222%; } .views-offset-2-9 { margin-left: 22.22222%; } .views-row-4-9 { width: 44.44444%; } .views-offset-4-9 { margin-left: 44.44444%; } .views-row-5-9 { width: 55.55556%; } .views-offset-5-9 { margin-left: 55.55556%; } .views-row-6-9 { width: 66.66667%; } .views-offset-6-9 { margin-left: 66.66667%; } .views-row-7-9 { width: 77.77778%; } .views-offset-7-9 { margin-left: 77.77778%; } .views-row-8-9 { width: 88.88889%; } .views-offset-8-9 { margin-left: 88.88889%; } .views-row-1-10 { width: 10%; } .views-offset-1-10 { margin-left: 10%; } .views-row-3-10 { width: 30%; } .views-offset-3-10 { margin-left: 30%; } .views-row-7-10 { width: 70%; } .views-offset-7-10 { margin-left: 70%; } .views-row-9-10 { width: 90%; } .views-offset-9-10 { margin-left: 90%; } .views-row-1-11 { width: 9.09091%; } .views-offset-1-11 { margin-left: 9.09091%; } .views-row-2-11 { width: 18.18182%; } .views-offset-2-11 { margin-left: 18.18182%; } .views-row-3-11 { width: 27.27273%; } .views-offset-3-11 { margin-left: 27.27273%; } .views-row-4-11 { width: 36.36364%; } .views-offset-4-11 { margin-left: 36.36364%; } .views-row-5-11 { width: 45.45455%; } .views-offset-5-11 { margin-left: 45.45455%; } .views-row-6-11 { width: 54.54545%; } .views-offset-6-11 { margin-left: 54.54545%; } .views-row-7-11 { width: 63.63636%; } .views-offset-7-11 { margin-left: 63.63636%; } .views-row-8-11 { width: 72.72727%; } .views-offset-8-11 { margin-left: 72.72727%; } .views-row-9-11 { width: 81.81818%; } .views-offset-9-11 { margin-left: 81.81818%; } .views-row-10-11 { width: 90.90909%; } .views-offset-10-11 { margin-left: 90.90909%; } .views-row-1-12 { width: 8.33333%; } .views-offset-1-12 { margin-left: 8.33333%; } .views-row-5-12 { width: 41.66667%; } .views-offset-5-12 { margin-left: 41.66667%; } .views-row-7-12 { width: 58.33333%; } .views-offset-7-12 { margin-left: 58.33333%; } .views-row-9-12 { width: 75%; } .views-offset-9-12 { margin-left: 75%; } .views-row-11-12 { width: 91.66667%; } .views-offset-11-12 { margin-left: 91.66667%; } .views-content-r { letter-spacing: -0.31em; *letter-spacing: normal; word-spacing: -0.43em; } .opera-only :-o-prefocus, .views-content-r { word-spacing: -0.43em; } .views-content-r img { max-width: 100%; } @media (min-width:980px) { .views-visible-phone { display: none; } .views-visible-tablet { display: none; } .views-visible-desktop { } .views-hidden-phone { } .views-hidden-tablet { } .views-hidden-desktop { display: none; } } @media (max-width:480px) { .views-content-r > [class ^= "views-row"] { width:100%; } } @media (max-width:767px) { .views-content-r > [class ^= "views-row"] { width:100%; } .views-visible-phone { } .views-hidden-phone { display: none; } .views-hidden-desktop { } .views-visible-desktop { display: none; } } @media (min-width:768px) and (max-width:979px) { .views-visible-tablet {} .views-hidden-tablet { display: none; } .views-hidden-desktop {} .views-visible-desktop { display: none; } }

html,
body,
.dlts_image_map,
.pjax-container,
.node.pjax {
  width:100%;
  height:100%;
}

body.node-type-dlts-photograph {
  overflow:hidden;
  margin:0!important;
  padding:0!important;
}

.dlts_image_map, {
  float:none;
}

#control-zoom div div {
  cursor:pointer;
}

#control-zoom div.zoom-maxed div,
#control-zoom div.zoom-maxed div:hover {
  cursor:default;
  opacity:0.2;
}

#control-zoom div.zoom-maxed-in div {
  background-position:-268px 0;
}

#control-zoom div.zoom-maxed-out div {
  background-position:-224px 0;
}

#header,
#page-title,
#pagemeta,
.element-invisible {
  display:none;
}

.dlts-photo-gallery {
  width:100%;
}

#book-navbar {
  width: 100%;
  height: 50px;
  background: #e5e5e5;
  overflow: hidden;
}

.navbar ul {
  margin-top: 0;
  display: inline;  
}

.navbar ul li {
	display: inline;
}

#control-zoom {
	display: inline;
}

.views-row {
  margin-left: .5em;
  margin-right: .5em;
}

ul.links.inline {
  list-style: none;
}

.node.pjax a.next-page, .node.pjax a.previous-page {
  display: none;
  visibility: hidden;
}

.pane.load {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  height: 39px;
  width: 176px;
}

#squaresWaveG{
position:relative;
width:240px;
height:29px}

.squaresWaveG{
position:absolute;
top:0;
background-color:#000000;
width:29px;
height:29px;
-moz-animation-name:bounce_squaresWaveG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_squaresWaveG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#squaresWaveG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#squaresWaveG_2{
left:30px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#squaresWaveG_3{
left:60px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#squaresWaveG_4{
left:90px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#squaresWaveG_5{
left:120px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#squaresWaveG_6{
left:150px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#squaresWaveG_7{
left:180px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#squaresWaveG_8{
left:210px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@keyframes bounce_squaresWaveG{
  0%{
    background-color:#000000;
  }

  100%{
    background-color:#FFFFFF;
  }
}

.pane.load p {
  color: #3a0f0f;
  text-shadow: icon-embossed-text-shadow;
}

.pjax-container .previous-page-off, .pjax-container .next-page-off, .pjax-container .previous-page, .pjax-container .next-page {
  display:none;
  visibility: hidden;
}
